# Doxygen Snippets Portion

snippet docfile "Documentation section for the top of a file" bA
/**
 * @file $1
 *
 * @author John Sochacki
 * @version $2 
 * @date $3
 *
 * @warning 
 * @bug 
 * @copyright GNU General Public License.v3.0
 *
 * @pre 
 * @note 
 *
 * @brief $4
 *
 * @details
 *  $0
 *
 */
endsnippet
